---
import Heading from "../ui/text/heading.astro";
import Text from "../ui/text/text.astro";

const 
---

<section class="w-full">
  <div class="w-full p-6">
    <Heading variant="h2" customClass="mb-6"> Nosotros </Heading>

    <Text customClass="mb-2 text-secondary" variant="bold">
      CORPORACIÓN CASA DE LOS SUEÑOS: GESTIÓN DEL BUEN VIVIR PARA LA APROPIACIÓN
      DEL TERRITORIO,
    </Text>

    <Text customClass="text-secondary">
      Se constituye la corporación sin ánimo de lucro, de naturaleza civil de
      carácter privado
    </Text>


    <Text customClass="text-secondary text-tertiary">
      Soñamos con territorios vivos, donde el arte, la memoria y la tierra se
      abracen. Somos una casa abierta al encuentro, al cuidado, a la
      transformación profunda.
    </Text>
  </div>
</section>
