---
import AboutSlider from "./slider.astro";
import Heading from "../ui/text/heading.astro";
import Text from "../ui/text/text.astro";
---

<section id="hogar" class="w-full">
  <div class="w-full px-6">
    <Heading variant="h2" customClass="mb-6"> Nosotros </Heading>

    <Text customClass="mb-2 text-secondary">
      Nuestra casa es una propuesta de toma de <strong
        >conciencia colectiva</strong
      > que persigue el <strong>buen vivir</strong>. Somos un espacio social
      para el <strong>intercambio</strong>, la <strong>reflexión</strong> y los aprendizajes
      para integrarnos a los territorios desde un enfoque
      <strong>biocultural e interconectado</strong>.
    </Text>

    <AboutSlider />

    <Text customClass="text-secondary text-tertiary">
      Activamos formas de vida pacífica a través de la <strong>cocreación</strong>. Irradiamos
      una <strong>actitud crítica</strong> frente a prejuicios y actitudes radicales que han
      impedido construirnos como una <strong>sociedad libre y en paz. ¡Somos
      realizadores de sueños</strong>!
    </Text>
  </div>
</section>
