---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body style="background-color: hsl(224, 14.29%, 17.06%);">
    <h1 class="text-lg text-gray-500 ml-5">Astro</h1>
  </body>
</html>
