---
import Text from "./ui/text/text.astro";
---

<header class="w-full min-h-max bg-[#FFFDEA] flex flex-col items-center">
  <img src="/images/logo-casa-suenos-texto.svg" class="w-[321px] p-6" />

  <div class="w-full min-h-[500px] relative">
    <img
      src="/images/header_image.png"
      class="absolute w-full h-full object-cover"
    />
    <div class="absolute bottom-0 p-6 flex flex-col gap-4">
      <Text
        variant="bold"
        customClass="text-shadow-md text-shadow-secondary text-white"
      >
        En Sonsón estamos construyendo el solar de los sueños, un lugar para
        integrar los conocimientos vinculados a la tierra, el encuentro de
        saberes colectivos, de semillas y de siembra.
      </Text>

      <Text variant="bold" customClass="text-[25px] text-shadow-md text-shadow-secondary text-white">
        ¿Quieres tener la llave del solar?
      </Text>
    </div>
  </div>
</header>
